/logs/composer-logs/lms-install.log
/.env
/.idea/.gitignore
/.idea/core.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/logs/migrate-logs/lms-migrate.log
/logs/migrate-logs/lms-migrate-seed.log
/src/
