APP_NAME="LMS kernel"
APP_ENV=local
APP_KEY=base64:u0+1wNJE10nPlxRCwsOjxmn3gENQQY/suR7PIdhm66Q=
APP_DEBUG=true
APP_URL=http://lms.app.develop

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=lms-kernel
DB_USERNAME=local
DB_PASSWORD=local

BROADCAST_DRIVER=rabbitmq
CACHE_DRIVER=redis
QUEUE_DRIVER=redis

FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=local
RABBITMQ_PASSWORD=local
RABBITMQ_EXCHANGE=lms
RABBITMQ_VHOST=/local

LMS_AUTH_HOST=http://lms-auth.app.develop
LMS_NOTIFICATION_HOST=http://lms-notifications.app.develop

